## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

## Intermediate documents:
*.dvi
*.xdv
*-converted-to.*

## Executables:
*.exe
*.out
*.class

## Erzeugte Dateien:
*.zip
*.pdf
*.html
__pycache__/
*.py[cod]
PythonASQ/6/voll/*
PythonASQ/6/*.txt
PythonASQ/6/*.json
PythonASQ/6/*.pickle
PythonASQ/8/beispieldaten/*.csv
**/bin/*

## VSCode Settings Files:
.vscode/*

## Gitkeep
!.gitkeep

## Non Synced support folder for other peoples codes:
/support/*
PythonASQ/Minesweeper/highscores.txt